#products-page {
	margin-top: 70px;
	.container {
		margin-top: 30px;
	}
	#col-menu {
		.nav-link {
			width: 90px;
			height: 70px;
      img{
        width: 35px;
        height: 35px;
      }
			.text {
				font-size: 100%;
			}
		}
	}
}
a {
	text-decoration: none !important;
}
.card {
	cursor: pointer;
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	}
}
.card-img {
	margin-top: 20px;
	margin-left: 10px;
}
.card-body {
	.d-flex {
		padding-top: 10px;
	}
}
@media only screen and (min-width: 1024px) {
    #banner{
      height: 600px;
    }
    #products-page #col-menu .nav-link{
      width: 90px;
      height: 70px;
    }
    #products-page #col-menu .nav-link .text{
      font-size: 90%;
    }  
  }
  
  @media only screen and (max-width: 768px) {
    #banner{
      height: 280px;
    }
    #products-page #col-menu .nav-link{
      width: 60px;
      height: 60px;
    }
    #products-page #col-menu .nav-link img{
      width: 30px;
      height: 30px;
    }
    #products-page #col-menu .nav-link .text{
      font-size: 60%;
    }
  }
  
  @media only screen and (max-width: 426px) {
    #products-page #col-menu .nav-link{
      width: 52px;
      height: 55px;
    }
    #products-page #col-menu .nav-link img{
      width: 20px;
      height: 20px;
    }
    #products-page #col-menu .nav-link .text{
      font-size: 42%;
    }
  }