.container-fluid {
	padding-top: 70px;
}
a {
	text-decoration: none !important;
}
#promotion-content {
	margin-top: 30px;
}

@media only screen and (max-width: 576px) {
    .container-fluid {
        padding-left: 60px;
        padding-right: 60px;
    }    
}